<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="main">
    <div class="top">
        <img src="img/video/illust_53031871_20181123_011137.jpg" alt="">
    </div>
    <div class="type">
        <div class="bar"></div>
        <div class="font">登录</div>
        <div class="bar"></div>
    </div>
    <div class="log ">
        <div class="pic clearFloat">
            <img src="img/video/664.png">
        </div>
        <div class="signIn clearFloat">
            <input type="text" class="userName" placeholder="你的 ID ">
            <input type="password" class="userPassword" placeholder="密码">
            <img src="img/zwz.png">
            <div class="login">登录</div>
            <div class="reg">注册</div>
        </div>
        <div class="signUp">
            <input type="text" class="uName" placeholder="你的 ID ">
            <input type="email" class="email" placeholder="你的邮箱">
            <input type="password" class="uPassword " placeholder="密码8位以上，至少使用两种不同字符">
            <div class="logon">注册</div>
        </div>
    </div>

    </div>
</div>
</body>
</html>