<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/music.css">
</head>
<body>
<audio id="audio" src="http://music.163.com/song/media/outer/url?id=476592630.mp3" ></audio>
<div id="bfq" class="clearFloat bfq">
    <div id="gedan" class="clearFloat gedan">
        <div id="mygeda" class="mygeda">
            <img src="img/mbleow.png">
            我的歌单（
            <div id="gnum" class="gnum">
                1
            </div>
            ）
        </div>
        <ul id="gul">
            <li class="ongblock">
                <div id="gblock" class="gblock clearFloat">
                    <img src="" >
                    <div id="gbname" class="gbname">我喜欢的音乐</div>
                    <div id="gbnum" class="gbnum">1首</div>
                </div>
            </li>
        </ul>
    </div>
    <div id="main" class="main clearFloat">
        <div id="show" class="show clearFloat">
            <div id="pic" class="pic"></div>
            <div id="wenzi" class="wenzi">
                <h1 id="te">我喜欢的音乐</h1>
                <img src="" id="uimg">
                <div id="uname" class="uname">flyfly</div>
            </div>
            <button id="playbtn" class="playbtn"><img src="img/mplay.png">播放</button>
        </div>
        <div id="tglist" class="tglist clearFloat">
            <span>歌曲列表</span>
            <div id="mnum" class="mnum">1首歌</div>
        </div>
    </div>
    <div id="mlist" class="mlist">
        <table class="table">
            <thead>
            <tr>
                <th>
                    <div class="w1"></div>
                </th>
                <th>
                    <div class="w2">歌曲标题</div>
                </th>
                <th>
                    <div class="w3">时长</div>
                </th>
                <th>
                    <div class="w4">歌手</div>
                </th>
                <th>
                    <div class="w5">专辑</div>
                </th>
            </tr>
            </thead>
        </table>
        <table id="rlist" class="rlist">
            <tr>
                <th>
                    <div class="r1">
                        <span>1</span>
                        <img src="img/mplay.png">
                    </div>

                </th>
                <th>
                    <div class="r2">
                        dfsdfsdf
                    </div>
                </th>
                <th>
                    <div class="r3">
                        03:00
                    </div>
                </th>
                <th>
                    <div class="r4">
                        fsdfsdf
                    </div>
                </th>
                <th>
                    <div class="r5">
                        sdfsdfsddfsdfs
                    </div>
                </th>
            </tr>
        </table>
    </div>
</div>
<div id="control" class="control">
    <div id="controlbar" class="controlbar clearFloat">
        <div id="btnGroup" class="btnGrop ">
            <img src="img/mnext.png" id="pre" class="pre">
            <img src="img/mplay-w.png" id="play" class="play">
            <img src="img/mpre.png" id="next" class="next">
        </div>
        <img src="" id="mpic" class="mpic">
        <div id="nameGroup" class="nameGroup">
            <div id="ngname" class="ngname">dsfsdfsd</div>
            <span id="ngspan">dsfsdf</span>
        </div>
        <div class="progress" id="progress">
            <div class="bar" id="progressBar"></div>
            <img src="img/manniu.png" id="pbtn" class="pbtn">
        </div>
        <div class="ptime" id="ptime">
            <div class="nowTime" id="nowTime">00:00</div>
            <div class="endTime" id="endTime">/&nbsp;00:00</div>
        </div>
        <div id="vas" class="vas">
            <img src="img/msound.png" id="simg">
            <div class="volume" id="vol">
                <div class="bar" id="volbar"></div>
            </div>
            <img src="img/mshunxu.png" id="bimg">
        </div>
    </div>
</div>
</body>
<script src="js/music.js"></script>
<script>

</script>
</html>