<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的视频</title>
    <link rel="stylesheet" href="css/myVideo.css">
</head>
<body>
<div class="top">
    <img src="img/video/illust_69512535_20181125_103016.png" alt="">
</div>
<div class="main">
    <div class="title">我的视频</div>
    <div class="cards" id="cards">
        <!--<div class="card">-->
            <!--<div class="cardChild">-->
                <!--<img src="img/video/2K-血腥夜愿.jpg">-->
                <!--<div class="produce">-->
                    <!--<div class="cardTitle">这是标题</div>-->
                    <!--<div class="cardTime">05:30</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="cardChild">-->
                <!--<img src="img/video/2K-血腥夜愿.jpg">-->
                <!--<div class="produce">-->
                    <!--<div class="cardTitle">这是标题</div>-->
                    <!--<div class="cardTime">05:30</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="cardChild">-->
                <!--<img src="img/video/CGNS-2K-012.jpg">-->
                <!--<div class="produce">-->
                    <!--<div class="cardTitle">这是标题</div>-->
                    <!--<div class="cardTime">05:30</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="cardChild">-->
                <!--<img src="img/video/2K-血腥夜愿.jpg">-->
                <!--<div class="produce">-->
                    <!--<div class="cardTitle">这是标题</div>-->
                    <!--<div class="cardTime">05:30</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="cardChild">-->
                <!--<img src="img/video/子狐物语.png">-->
                <!--<div class="produce">-->
                    <!--<div class="cardTitle">这是标题</div>-->
                    <!--<div class="cardTime">05:30</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="cardChild">-->
                <!--<img src="img/video/2K-血腥夜愿.jpg">-->
                <!--<div class="produce">-->
                    <!--<div class="cardTitle">这是标题</div>-->
                    <!--<div class="cardTime">05:30</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="cardChild">-->
                <!--<img src="img/video/2K-血腥夜愿.jpg">-->
                <!--<div class="produce">-->
                    <!--<div class="cardTitle">这是标题</div>-->
                    <!--<div class="cardTime">05:30</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="card"></div>-->
        <!--<div class="card"></div>-->
        <!--<div class="card"></div>-->
        <!--<div class="card"></div>-->
        <!--<div class="card"></div>-->
        <!--<div class="card"></div>-->
        <!--<div class="card"></div>-->
        <!--<div class="card"></div>-->
    </div>
</div>
</body>
<script src="js/myVideo.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
</html>