<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>播放器</title>
    <link rel="stylesheet" href="css/video.css">
</head>
<body>
<div class="main">
<div class="left clearFloat">
    <div class="title" id="title">这是视频标题</div>
    <div class="video">
        <div class="videoMain">
            <video id="video" src="https://media.w3.org/2010/05/sintel/trailer.mp4" poster="img/video/希儿.png">
            </video>
        </div>
        <div class="program" id="program">
            <div class="bar" id="programBar">
                <!--<div class="circle" style="float: left">-->
                    <!--<img src="img/point.png">-->
                <!--</div>-->
            </div>
        </div>
        <div class="control" style="display: block">
            <div class="play">
                <img src="img/video/off/play.png" alt="" id="play">
            </div>
            <div class="time">
                <div class="nowTime" id="nowTime">01:00</div>
                <div class="divide">/</div>
                <div class="endTime" id="endTime">03:24</div>
            </div>
            <div class="full">
                <img src="img/video/off/full.png" alt="" id="full">
            </div>
            <div class="clear">
                <img src="img/video/off/tv.png">高清
            </div>
            <div class="volume">
                <div class="volume_img">
                    <img src="img/video/off/volume.png" alt="" id="volume">
                </div>
                <div class="v_program" id="v_program">
                    <div class="v_bar" id="v_bar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="other">
        <div class="btn_type">
            <img src="img/video/praise.png" alt="">
            <span>赞(100)</span>
        </div>
        <div class="btn_type">
            <img src="img/video/collect.png" alt="">
            <span>收藏(50)</span>
        </div>
        <div class="btn_type">
            <img src="img/video/share.png" alt="">
            <span>分享(5)</span>
        </div>
        <div class="btn_type">
            <img src="img/video/download.png" alt="">
            <span>下载(80)</span>
        </div>
        <div></div>
    </div>
</div>
<div class="right">
    <div class="produce">
        <div class="produceTitle">视频介绍</div>
        <div class="produceMain">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;傻逼高昕傻逼高昕傻逼高昕傻逼高昕傻逼高昕傻逼高昕傻逼高昕傻逼高昕傻逼高昕</div>
    </div>
    <div class="list">
        <div class="listTitle">其他视频</div>
        <div class="listMain">
            <ul>
                <li>
                    <img src="img/video/希儿.png" alt="">
                    <span>
                        <p>这是标题</p>
                        <p>05:30</p>
                    </span>
                </li>
                <li>
                    <img src="img/video/希儿.png" alt="">
                    <span>
                        <p>这是标题</p>
                        <p>05:30</p>
                    </span>
                </li>
                <li>
                    <img src="img/video/希儿.png" alt="">
                    <span>
                        <p>这是标题</p>
                        <p>05:30</p>
                    </span>
                </li>
                <li>
                    <img src="img/video/希儿.png" alt="">
                    <span>
                        <p>这是标题</p>
                        <p>05:30</p>
                    </span>
                </li>
                <li>
                    <img src="img/video/希儿.png" alt="">
                    <span>
                        <p>这是标题</p>
                        <p>05:30</p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
<script src="js/video.js"></script>
</html>